<aside class="sidebar">
        <h3>BỘ LỌC</h3>

        <div class="filter-section">
            <h4 onclick="toggleFilter('filter-style')">Kiểu tóc <i class="fa fa-chevron-down"></i></h4>
            <div id="filter-style" class="filter-options">
                <label><input type="checkbox"> Basic</label>
                <label><input type="checkbox"> Basic Classic</label>
                <label><input type="checkbox"> Layer</label>
                <label><input type="checkbox"> Layer Khói</label>
                <label><input type="checkbox"> Layer xoăn</label>
                <label><input type="checkbox"> Mohican</label>
                <label><input type="checkbox"> Mohican xoăn</label>
                <label><input type="checkbox"> Side Part</label>
                <label><input type="checkbox"> Side Part Layer</label>
                <label><input type="checkbox"> Undercut</label>
            </div>
        </div>

        <hr>

        <div class="filter-section">
            <h4 onclick="toggleFilter('filter-price')">Khoảng giá <i class="fa fa-chevron-down"></i></h4>
            <div id="filter-price" class="filter-options">
                <label><input type="radio" name="price"> Dưới 1.000.000đ</label>
                <label><input type="radio" name="price"> Từ 1.000.000đ - 3.000.000đ</label>
                <label><input type="radio" name="price"> Từ 3.000.000đ - 5.000.000đ</label>
                <label><input type="radio" name="price"> Trên 5.000.000đ</label>
            </div>
        </div>

        <hr>

        <div class="filter-section">
            <h4 onclick="toggleFilter('filter-color')">Màu sắc <i class="fa fa-chevron-down"></i></h4>
            <div id="filter-color" class="filter-options">
                <label class="color-option">
                    <span class="color-dot black"></span> Đen
                </label>
                <label class="color-option">
                    <span class="color-dot brown"></span> Nâu
                </label>
                <label class="color-option">
                    <span class="color-dot dark-brown"></span> Nâu đen
                </label>
                <label class="color-option">
                    <span class="color-dot light-brown"></span> Nâu sáng
                </label>
                <label class="color-option">
                    <span class="color-dot gray"></span> Khói
                </label>
                <label class="color-option">
                    <span class="color-dot mix"></span> Hoa râm
                </label>
            </div>
        </div>

        <hr>

        <div class="filter-section">
    <h4 onclick="toggleFilter('filter-rating')">
        Đánh giá <i class="fa fa-chevron-down"></i>
    </h4>
    <div id="filter-rating" class="filter-options">
        <label class="filter-item">
            <input type="checkbox" name="rating" value="5">
            <div class="stars">
                <i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i>
            </div>
        </label>
        <label class="filter-item">
            <input type="checkbox" name="rating" value="4">
            <div class="stars">
                <i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gray"></i>
            </div>
        </label>
        <label class="filter-item">
            <input type="checkbox" name="rating" value="3">
            <div class="stars">
                <i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
            </div>
        </label>
        <label class="filter-item">
            <input type="checkbox" name="rating" value="2">
            <div class="stars">
                <i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
            </div>
        </label>
        <label class="filter-item">
            <input type="checkbox" name="rating" value="1">
            <div class="stars">
                <i class="fa fa-star gold"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
            </div>
        </label>
    </div>
</div>
</aside>